<h1>Nature Remo Local</h1>

<table>
  <tr>
    <th>ID</th>
    <th>名前</th>
  </tr>
  <% @appliances.each do |appliance| %>
    <tr>
      <td><%= appliance[:id] %></td>
      <td><%= link_to appliance.name, appliance %></td>
    </tr>
  <% end %>
</table>
<div>
  <%= link_to '家電を追加', new_appliance_path %>
</div>
